html {
    font-size: 16px;
}

body {
    margin: 0;
}

.game-container {
    height: 100vh;

    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: auto;
}

.game-menu {
    background-color: rgb(121, 173, 138);

    padding: 5px;
    height: 120px;

    /* i cannot use flexbox, because
    i want the menu to stretch both
    vertically and horizontally */
    display: grid;
    justify-items: center;
}

@media (min-width: 580px) {
    /* that is, minimum 280px width + 1*300px */
    .game-menu {
        height: 70px;
    }
}

.game-menu-items-container {
    background-color: rgb(121, 173, 138);

    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.game-controls-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    align-items: center;
    justify-items: center;
    grid-gap: 10px;
}

@media (min-width: 580px) {
    /* that is, minimum 280px width + 1*300px */
    .game-controls-container {
        grid-template-columns: repeat(4, auto);
    }
}

.game-menu__item {
    margin: 5px;
}

.game-menu__button {
    border: none;
    background-color: rgb(155, 212, 174);
    font-size: inherit;
    border-radius: 5px;
    box-shadow: 4px 4px 4px;

    padding: 5px;
    min-width: 110px;
    overflow-wrap: break-word;
}

.game-menu__button:enabled:active {
    box-shadow: 2px 2px 2px;

    position: relative;
    top: 2px;
    left: 2px;
}

.game-time-label {
    max-width: 50px;
}

.game-parameters-container {
    padding: 5px;
    /* it is the container width - 2*left - 2*border width - 2*padding */
    width: calc(100% - 4vw - 2px - 10px);
    /* it is the container height - top - 2*border - 2vw of the bottom margin */
    max-height: calc(100% - 130px - 4px - 2vw);

    z-index: 1;
    position: absolute;
    /* it is the container (i.e. .game-menu) height + 2*padding */
    top: calc(120px + 10px);
    left: 2vw;
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(2, auto);
}

@media (min-width: 580px) {
    /* that is, minimum 280px width + 1*300px */
    .game-parameters-container {
        grid-template-columns: repeat(3, auto);
        top: calc(70px + 10px);
        max-height: calc(100% - 80px - 2px - 2vw - 10px);
    }
}

@media (min-width: 880px) {
    /* that is, minimum 280px width + 2*300px */
    .game-parameters-container {
        grid-template-columns: repeat(4, auto);
    }
}

.game-menu__input-item {
    background-color: rgb(155, 212, 174);
    border-radius: 5px;
    border: none;

    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 80px;
}

.game-field {
    background-color: rgb(95, 161, 117);

    position: relative;
}

.moving {
    font-size: 1%;
    text-align: center;

    overflow: hidden;

    position: absolute;
}